tr
   a(href="#")
      th {{Topic}}
   th
      span.new.badge(data-badge-caption="{{Category}}" style="background-color:{{color}}")
   th {{Users}}
   th {{Replies}}
   th {{Views}}
   th {{Activity}}