footer.footer-color.page-footer
    div.container
        .row
            .col.l6.s6
                h5.white-text Footer Content
                p.white-text Meteorgsms footer box1
            .col.l6.s6
                h5.white-text Footer Content
                p.white-text Meteorgsms footer box2
    div.footer-copyright
        p @2016 meteorgsms copyright, All rights reserved
